.btn-success{
	text-decoration: none;
	color: white;
}

.form-control{
	width:50%;
}

.example{
	font-size: xx-small;
	color:white !important;
}

body{
	background-color: #272b30 !important;
	color:white !important;
}

.signature{
	background-color: #272b30 !important;
	color:white !important;
	border:none;
}

.container{
	margin-bottom: 50px;
}